[Unit]
Description=Clipcat Daemon

[Service]
ExecStart=/usr/bin/clipcatd --no-daemon --replace
Restart=on-failure
Type=simple

[Install]
WantedBy=graphical-session.target
