[Unit]
Description=Clipcat Daemon
After=default.target

[Service]
Type=forking
ExecPre=/usr/bin/clipcatctl kill
ExecStart=/usr/bin/clipcatd --replace
ExecStop=/usr/bin/clipcatctl kill
PIDFile=/run/user/1000/clipcatd.pid
Restart=on-failure

[Install]
WantedBy=graphical-session.target
