[Unit]
Description=easyeffects autostart config

[Service]
Restart=always
ExecStart=/usr/bin/easyeffects --service-mode --hide-window
RestartSec=3

[Install]
WantedBy=graphical-session.target
