[Unit]
Description=Kanata for keychron k7
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStart=%h/.local/share/cargo/bin/kanata --cfg %h/.config/kanata/k7.kbd
Restart=no

[Install]
WantedBy=default.target
