[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStartPre=/usr/bin/modprobe uinput
ExecStart=%h/.local/share/cargo/bin/kanata --cfg %h/.config/kanata/thiccpad.kbd
Restart=no

[Install]
WantedBy=default.target
