[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStart=%h/.local/share/cargo/bin/kanata --cfg %h/.config/kanata/morpheus.kbd
Restart=no

[Install]
WantedBy=default.target
