[Unit]
Description=kdeconnect
After=graphical-session.target suspend.target sleep.target hybrid-sleep.target hibernate.target

[Service]
Type=oneshot
ExecStart=/usr/bin/kdeconnect-cli --refresh

[Install]
WantedBy=default.target sleep.target
