[Unit]
Description=kdeconnect
After=default.target graphical-session.target suspend.target sleep.target hybrid-sleep.target hibernate.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/kdeconnect-cli --refresh

[Install]
WantedBy=sleep.target default.target graphical-session.target
