[Unit]
Description=PCManFM Daemon
Documentation=man:pcmanfm(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/pcmanfm --daemon-mode
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
