[Unit]
Description=Pueue Daemon - CLI process scheduler and manager
After=graphical-session.target

[Service]
Restart=no
ExecStart=/usr/bin/pueued -vv

[Install]
WantedBy=default.target
