[Unit]
Description=Update Earth wallpaper from Zoom.Earth satellite imagery
After=network-online.target graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/share/cargo/bin/zomerth --daemon -z 4 -w 3440 -h 1440 --set-wallpaper --output %h/.local/share/wallpaper/earth.png
Restart=on-failure
Nice=19

[Install]
WantedBy=default.target
