:root {
  --user-profile-linear-gradient: linear-gradient(160deg, #4C4F69 1.22%, #313244 40.51%, #1E1E2E 79.07%);
  --wave-color-material-dark: rgba(30, 30, 46, 0.5);
  --wave-color-material-light: rgba(204, 204, 204, 0.2);
  --wave-color-opacity-accent-dark-ultra-thick: rgba(106, 114, 128, 0.8);
  --wave-color-opacity-accent-darkest-ultra-thick: #1E1E2E;
  --wave-color-opacity-accent-fill-regular: rgba(156, 163, 175, 0.4);
  --wave-color-opacity-accent-fill-thin: rgba(156, 163, 175, 0.2);
  --wave-color-opacity-accent-fill-ultra-thick: rgba(156, 163, 175, 0.8);
  --wave-color-opacity-accent-fill-ultra-thin: rgba(156, 163, 175, 0.1);
  --wave-color-opacity-base-bright-thick: rgba(68, 71, 90, 0.6);
  --wave-color-opacity-base-bright-thin: rgba(68, 71, 90, 0.2);
  --wave-color-opacity-base-bright-transparent: #44475A;
  --wave-color-opacity-base-bright-ultra-thick: rgba(68, 71, 90, 0.8);
  --wave-color-opacity-base-brighter-ultra-thick: #2E303E;
  --wave-color-opacity-base-brightest-regular: rgba(76, 80, 105, 0.4);
  --wave-color-opacity-base-brightest-thin: rgba(76, 80, 105, 0.2);
  --wave-color-opacity-base-brightest-ultra-thin: rgba(76, 80, 105, 0.1);
  --wave-color-opacity-base-fill-regular: rgba(0, 0, 0, 0.4);
  --wave-color-opacity-base-fill-thick: rgba(0, 0, 0, 0.6);
  --wave-color-opacity-base-fill-thin: rgba(0, 0, 0, 0.2);
  --wave-color-opacity-base-fill-transparent: #000000;
  --wave-color-opacity-base-fill-ultra-thick: rgba(0, 0, 0, 0.8);
  --wave-color-opacity-base-fill-ultra-thin: rgba(0, 0, 0, 0.1);
  --wave-color-opacity-contrast-fill-regular: rgba(209, 213, 218, 0.4);
  --wave-color-opacity-contrast-fill-thick: rgba(209, 213, 218, 0.6);
  --wave-color-opacity-contrast-fill-thin: rgba(209, 213, 218, 0.2);
  --wave-color-opacity-contrast-fill-transparent: #D9E0EE;
  --wave-color-opacity-contrast-fill-ultra-thick: rgba(209, 213, 218, 0.8);
  --wave-color-opacity-contrast-fill-ultra-thin: rgba(209, 213, 218, 0.1);
  --wave-color-opacity-rainbow-blue-thin: rgba(139, 148, 251, 0.2);
  --wave-color-opacity-rainbow-yellow-fill-regular: rgba(251, 192, 45, 0.4);
  --wave-color-opacity-rainbow-yellow-fill-thin: rgba(251, 192, 45, 0.2);
  --wave-color-opacity-rainbow-yellow-fill-ultra-thick: rgba(251, 192, 45, 0.8);
  --wave-color-opacity-rainbow-yellow-fill-ultra-thin: rgba(251, 192, 45, 0.1);
  --wave-color-opacity-special-fill-regular: rgba(255, 184, 108, 0.4);
  --wave-color-opacity-special-fill-thin: rgba(255, 184, 108, 0.2);
  --wave-color-opacity-special-fill-ultra-thick: rgba(255, 184, 108, 0.8);
  --wave-color-opacity-special-fill-ultra-thin: rgba(255, 184, 108, 0.1);
  /* Service colors are typically brand-specific and not adjusted */
  --wave-color-solid-accent-bright: #89B4FA;
  --wave-color-solid-accent-brighter: #A5ADCB;
  --wave-color-solid-accent-dark: #6E6C7E;
  --wave-color-solid-accent-darker: #565F89;
  --wave-color-solid-accent-darkest: #313244;
  --wave-color-solid-accent-fill: #89B4FA;
  --wave-color-solid-base-bright: #1E1E2E;
  --wave-color-solid-base-brighter: #313244;
  --wave-color-solid-base-brightest: #4C4F69;
  --wave-color-solid-base-fill: #24273A;
  --wave-color-solid-contrast-dark: #CDD6F4;
  --wave-color-solid-contrast-darker: #A5ADCB;
  --wave-color-solid-contrast-darkest: #787C99;
  --wave-color-solid-contrast-fill: #D9E0EE;
  --wave-color-solid-rainbow-blue-fill: #89B4FA;
  --wave-color-solid-rainbow-green-brighter: #ABE9B3;
  --wave-color-solid-rainbow-green-dark: #94E2D5;
  --wave-color-solid-rainbow-green-darker: #89DCEB;
  --wave-color-solid-rainbow-green-darkest: #74C7EC;
  --wave-color-solid-rainbow-green-fill: #B5E8E0;
  --wave-color-solid-rainbow-orange-fill: #FAB387;
  --wave-color-solid-rainbow-purple-fill: #B4BEFE;
  --wave-color-solid-rainbow-red-bright: #F38BA8;
  --wave-color-solid-rainbow-red-brighter: #F5C2E7;
  --wave-color-solid-rainbow-red-dark: #EB6F92;
  --wave-color-solid-rainbow-red-darker: #DDB6F2;
  --wave-color-solid-rainbow-red-darkest: #CBA6F7;
  --wave-color-solid-rainbow-red-fill: #F28FAD;
  --wave-color-solid-rainbow-yellow-bright: #FAE3B0;
  --wave-color-solid-rainbow-yellow-brighter: #F9E2AF;
  --wave-color-solid-rainbow-yellow-dark: #E2C08D;
  --wave-color-solid-rainbow-yellow-darker: #E0AF68;
  --wave-color-solid-rainbow-yellow-darkest: #DDB6F2;
  --wave-color-solid-rainbow-yellow-fill: #F9E2AF;
  --wave-color-solid-special-bright: #FAB387;
  --wave-color-solid-special-brighter: #F9E2AF;
  --wave-color-solid-special-dark: #E8A2AF;
  --wave-color-solid-special-darker: #DDB6F2;
  --wave-color-solid-special-darkest: #CBA6F7;
  --wave-color-solid-special-fill: #FAB387;
  --wave-color-solid-warning-bright: #F28FAD;
  --wave-color-solid-warning-brighter: #F5C2E7;
  --wave-color-solid-warning-dark: #EB6F92;
  --wave-color-solid-warning-darker: #DDB6F2;
  --wave-color-solid-warning-darkest: #CBA6F7;
  --wave-color-solid-warning-fill: #F28FAD;
}
