/* dark newtab without blinding flash, https://github.com/tridactyl/tridactyl/issues/2510 */
:root {
  --tridactyl-bg: #1e1e2e !important;
  --tridactyl-fg: #cdd6f4 !important;
}
/* dark newtab without tridactyl, tridactyl-newtab */
@-moz-document url-prefix("about:home"), url-prefix("about:newtab") {
  body {
    background: #1e1e2e;
  }
}

/* hide the tab bar */
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse !important;
}
/* hide urlbar, reveal on hover or focus */
#nav-bar:not([customizing="true"]):not([inFullscreen]) {
  margin-top: -5rem !important;
}
#navigator-toolbox:hover:not([inFullscreen]) :-moz-any(#nav-bar),
#navigator-toolbox:focus-within :-moz-any(#nav-bar)  {
  margin-top: 1px !important;
}

/* hide sidebar on fullscreen */
#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar-splitter {
  display: none !important;
  width: 0px !important;
}
/* smaller sidebar title */
#sidebar-header {
  font-size: 1.1em
}
